/*-----universal selector-----*/
  * {
    box-sizing:border-box;
  }




/*-----Navigation-----*/

  .wrapper {
    width: 100%;
  }

  .main-nav li {
    display: block;
    background-color: white;
    text-align: center;
    margin-bottom: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
  }




/*-----Type(element) Selectors-----*/

  p {
    text-align: center;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }

  ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
  }

  li {
     margin: 0;
     padding: 0;
     list-style-type: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  nav {
    margin-bottom: 30px;
  }

/*-----Class selectors-----*/
  .wrapper {
    background-color: #f6f6f6;
  }

  .main-header {
    background-color: #f6f6f6;
    display: block;
    margin-top: 0;
    padding-top: 5px;
  }

  .name {
    font-size: 1.8em;
  }

  .col {
    background-color: white;
    padding-bottom: 5px;
  }

  .col img {
    display: block;
    width: 100%;
  }

  .col h3 {
    margin-top: 30px;
  }

  .col p {
    margin-bottom: 30px;

  }

  .profile {
    margin-top: 40px;
  }

  .col,
  .profile,
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }


  .communication {
    color: gray;
  }

  .profile-img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .profile p {
    font-size: 1em;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .primary {
    padding-top: 30px;
  }

  .primary h2 {
    font-size: 1em;
    padding-bottom: 30px;
  }

  .senary p {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .contact {
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .contact h3 {
    margin-bottom: 20px
  }

  .contact p {
    margin-bottom: 20px;
  }

  .contact li{
    text-align: center;
    word-spacing: 5px;

  }
  .contact .phone {
    word-spacing: 49px;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
  }


/*-----Psuedo-Class selectors-----*/

  a:hover {
    color: salmon;
  }


/*-----Layout-----*/

  .footer {
    margin-top: 25px;
  }

  .footer-name {
    display: inline-block;
    float: left;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .footer-id {
    display: inline-block;
    float: right;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: right;
  }


  /* ---- Float clearfix ---- */

  	.clearfix::after {
  		content: " ";
  		display: table;
  		clear: inline;
  	}
  }


/*-----Media Queries 768px-----*/



/*-----Clear Fix-----*/



/*-----Media Queries 1024px-----*/
