/*-----universal selector-----*/
  * {
    box-sizing:border-box;
  }




/*-----Navigation-----*/

  .wrapper {
    width: 100%;
  }

  .main-nav li {
    display: block;
    background-color: white;
    text-align: center;
    margin-bottom: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    color: black;

  }



/*-----Type(element) Selectors-----*/

  p {
    text-align: center;
  }

  h1,
  h2 {
    text-align: center;
  }

  ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
  }

  li {
     margin: 0;
     padding: 0;
     list-style-type: none;
  }



/*-----Class selectors-----*/
  .wrapper {
    background-color: #f6f6f6;
  }

  .main-header {
    background-color: #f6f6f6;
    display: block;
    margin-top: 0;
    padding-top: 1px;
  }

  .name {
    font-size: 2.5em;
  }

  .col {
    background-color: white;
    padding-bottom: 5px;
  }

  .col img {
    display: block;
    width: 100%;
  }

  .col,
  .profile,
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }


  .communication {
    color: gray;
  }

  .profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/*-----Psuedo-Class selectors-----*/

  a:hover {
    color: salmon;
  }


/*-----Layout-----*/






/*-----Media Queries 768px-----*/



/*-----Clear Fix-----*/



/*-----Media Queries 1024px-----*/
